In [2]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("C:\\Users\\ragha\\Downloads\\Dataset .csv")

In [14]:
display(df.head())

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,6,73,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,920,...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,6,73,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,1111,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,6,75,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,1671,...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,6,75,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,1126,...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,6,75,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,1122,...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [15]:
display(df.describe())

,Restaurant ID,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Price range,Aggregate rating,Votes
count,9.542000e+03,9542.000000,9542.000000,9542.000000,9542.000000,9542.000000,9542.000000,9542.000000,9542.000000,9542.000000
mean,9.043301e+06,1.016139,77.570530,64.274997,25.848532,989.163173,1200.326137,1.804968,2.665238,156.772060
std,8.791967e+06,3.415003,22.781307,41.197602,11.010094,514.326600,16128.743876,0.905563,1.516588,430.203324
min,5.300000e+01,0.000000,0.000000,-157.948486,-41.330428,0.000000,0.000000,1.000000,0.000000,0.000000
25%,3.019312e+05,0.000000,78.250000,77.081565,28.478658,497.000000,250.000000,1.000000,2.500000,5.000000
50%,6.002726e+06,0.000000,87.000000,77.192031,28.570444,1126.000000,400.000000,2.000000,3.200000,31.000000
75%,1.835260e+07,0.000000,87.000000,77.282043,28.642711,1354.000000,700.000000,2.000000,3.700000,130.000000
max,1.850065e+07,14.000000,139.000000,174.832089,55.976980,1824.000000,800000.000000,4.000000,4.900000,10934.000000

In [16]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9542 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9542 non-null   int64
 1   Restaurant Name       9542 non-null   object
 2   Country Code          9542 non-null   int64
 3   City                  9542 non-null   int64
 4   Address               9542 non-null   object
 5   Locality              9542 non-null   object
 6   Locality Verbose      9542 non-null   object
 7   Longitude             9542 non-null   float64
 8   Latitude              9542 non-null   float64
 9   Cuisines              9542 non-null   int64
 10  Average Cost for two  9542 non-null   int64
 11  Currency              9542 non-null   object
 12  Has Table booking     9542 non-null   object
 13  Has Online delivery   9542 non-null   object
 14  Is delivering now     9542 non-null   object
 15  Switch to order menu  9542 non-null   object
 16  Price range           9542 non-null   int64
 17  Aggregate rating      9542 non-null   float64
 18  Rating color          9542 non-null   object
 19  Rating text           9542 non-null   object
 20  Votes                 9542 non-null   int64
dtypes: float64(3), int64(7), object(11)
memory usage: 1.6+ MB

None

In [47]:
categorical_columns = X_train.select_dtypes(include=['object']).columns
numerical_columns = X_train.select_dtypes(exclude=['object']).columns

# Combine train and test data for categorical columns
combined_cat = pd.concat([X_train[categorical_columns], X_test[categorical_columns]], axis=0)

# Create LabelEncoder instance
label_enc = LabelEncoder()

# Convert categorical values to numeric
for column in combined_cat.columns:
    combined_cat[column] = label_enc.fit_transform(combined_cat[column].astype(str))

# Split the combined data back into train and test
X_train[categorical_columns] = combined_cat.iloc[:len(X_train), :]
X_test[categorical_columns] = combined_cat.iloc[len(X_train):, :]

# Combine back numerical columns
X_train = pd.concat([X_train[numerical_columns], X_train[categorical_columns]], axis=1)
X_test = pd.concat([X_test[numerical_columns], X_test[categorical_columns]], axis=1)

In [49]:
for column in X_train.columns: 
    X_train[column] = pd.to_numeric(X_train[column], errors='coerce') 
for column in X_test.columns: 
    X_test[column] = pd.to_numeric(X_test[column], errors='coerce') 
# Fill any remaining NaN values that were created during conversion 
X_train = X_train.fillna(0)
X_test = X_test.fillna(0)

In [50]:
lr_model = LinearRegression() 
# Fit the model 
lr_model.fit(X_train, y_train) 
# Make predictions 
y_pred_lr = lr_model.predict(X_test) 
# Evaluate the model 
mse_lr = mean_squared_error(y_test, y_pred_lr) 
r2_lr = r2_score(y_test, y_pred_lr) 
print(f"Linear Regression - MSE: {mse_lr}, R2: {r2_lr}")

Linear Regression - MSE: 1.1157797038116404, R2: 0.512766805961701

In [51]:
dt_model = DecisionTreeRegressor(random_state=42) 
dt_model.fit(X_train, y_train) 
y_pred_dt = dt_model.predict(X_test) 
mse_dt = mean_squared_error(y_test, y_pred_dt) 
r2_dt = r2_score(y_test, y_pred_dt) 
print(f"Decision Tree - MSE: {mse_dt}, R2: {r2_dt}")

Decision Tree - MSE: 0.054148768988999466, R2: 0.976354581842971

In [52]:
rf_model = RandomForestRegressor(random_state=42) 
rf_model.fit(X_train, y_train) 
y_pred_rf = rf_model.predict(X_test) 
mse_rf = mean_squared_error(y_test, y_pred_rf) 
r2_rf = r2_score(y_test, y_pred_rf) 
print(f"Random Forest - MSE: {mse_rf}, R2: {r2_rf}")

Random Forest - MSE: 0.027811928758512305, R2: 0.9878552237192664

In [54]:
print("Model Comparison:")
print(f"Linear Regression - MSE: {mse_lr}, R2: {r2_lr}")
print(f"Decision Tree - MSE: {mse_dt}, R2: {r2_dt}")
print(f"Random Forest - MSE: {mse_rf}, R2: {r2_rf}")

Model Comparison:
Linear Regression - MSE: 1.1157797038116404, R2: 0.512766805961701
Decision Tree - MSE: 0.054148768988999466, R2: 0.976354581842971
Random Forest - MSE: 0.027811928758512305, R2: 0.9878552237192664